name: .NET

on:
  push:
    branches: ["main", "feature/**", "fix/**"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"
      - name: Restore
        run: dotnet restore CheckoutKata.sln

      - name: Build
        run: dotnet build CheckoutKata.sln --configuration Release

      - name: Test
        run: dotnet test CheckoutKata.sln --configuration Release --verbosity normal
